/* stylelint-disable prettier/prettier */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  background-color: black;
}

.cell {
  display: flex;
  width: 30px;
  height: 30px;

  /* border: 1px solid white; */
}

.stone {
  display: flex;
  width: 30px;
  height: 30px;
}

.purpleStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #a000f0;
  border: 5px solid;
  border-color: #d080ff #8400cc #8400cc #d080ff;
}

.skyblueStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #00f0f0;
  border: 5px solid;
  border-color: #80ffff #0cc #0cc #80ffff;
}

.yellowStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #f0f000;
  border: 5px solid;
  border-color: #fcfc86 #cc0 #cc0 #fcfc86;
}

.blueStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #0000f0;
  border: 5px solid;
  border-color: #8080ff #00c #00c #8080ff;
}

.orangeStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #f0a000;
  border: 5px solid;
  border-color: #ffd080 #cc8400 #cc8400 #ffd080;
}

.greenStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #00f000;
  border: 5px solid;
  border-color: #80ff80 #0c0 #0c0 #80ff80;
}

.redStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #f00000;
  border: 5px solid;
  border-color: #ff8080 #c00 #c00 #ff8080;
}

.emptyCell {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(0 0 0);
}

.nextBlockBoard {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.topArea {
  display: flex;
  flex-direction: row;
}
