/* stylelint-disable prettier/prettier */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  background-color: black;
}

.cell {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid white;
}

.stone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: aqua;
}

.nextBlockBoard {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.topArea {
  display: flex;
  flex-direction: row;
}
