/* stylelint-disable prettier/prettier */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  background-color: black;
}

.cell {
  display: flex;
  width: 30px;
  height: 30px;

  /* border: 1px solid white; */
}

.stone {
  display: flex;
  width: 30px;
  height: 30px;
}

.purpleStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #a000f0;
  border: 5px solid;
  border-color: #d080ff #8400cc #8400cc #d080ff;
}

.skyblueStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(1 216 231);
  border: 1px solid;
}

.yellowStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(217 255 0);
  border: 1px solid;
}

.blueStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(38 0 255);
  border: 1px solid;
}

.orangeStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(255 136 0);
  border: 1px solid;
}

.greenStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(10 163 49);
  border: 1px solid;
}

.redStone {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(255 0 0);
  border: 1px solid;
}

.emptyCell {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(0 0 0);
}

.nextBlockBoard {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.topArea {
  display: flex;
  flex-direction: row;
}
